html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

body img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* Navbar Section */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
}

header #logo {
  font-size: 4.8rem;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #ED213A;
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);
  background: linear-gradient(to bottom, #93291E, #ED213A);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navbar-menu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: brown;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  background: #ED213A;
  background: -webkit-linear-gradient(to left, #93291E, #ED213A);
  background: linear-gradient(to left, #93291E, #ED213A);
  background-size: 100%;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #93291E;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-btn > a {
  color: white;
}

@media screen and (max-width: 960px) {
  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .navbar-menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #93291E;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Homepage Section */
.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 50%;
  translate: -50%;
  width: 100%;
  max-width: 1440px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
}

.text-wrapper {
  width: 750px;
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 14rem;
  background: #ED213A;
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);
  background: linear-gradient(to bottom, #93291E, #ED213A);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title p {
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: #93291E;
  margin-top: 40px;
}

p > span {
  font-size: 3rem;
  font-weight: bold;
}

.title > ul > li {
  list-style: none;
  margin-top: 15px;
  margin-left: 15px;
  width: 500px;
}

@media only screen and (max-width: 980px) {
  body {
    max-width: 375px;
    margin: 0 auto;
  }

  body img {
    max-width: 375px;
    margin-top: 80px;
  }

  header {
    max-width: 375px;
    padding: 0;
  }

  .title {
    background: none;
    top: 300px;
  }

  h1 {
    font-size: 8rem;
  }

  .title p {
    font-size: 1rem;
  }

  p > span {
    font-size: 1.7rem;
  }
}